<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Айзия</title>
    <link rel="stylesheet" href="styles/index_style.css">
    <%- include('components/imports.ejs') %>
</head>


<body>
    <!-- Navigation -->
    <section class="head">
        <div class="container mt-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6">
                    <div class="search-box position-relative mx-auto">
                        <div class="search-icon"><i class="fa fa-search search-icon"></i></div>
                        <form action="" class="search-form">
                            <input type="text" class="form-control" placeholder="Search" id="search" autocomplete="off">
                        </form>
                        <svg class="search-border" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px"
                            viewBox="0 0 671 111" style="enable-background:new 0 0 671 111;" xml:space="preserve">
                            <path class="border"
                                d="M335.5,108.5h-280c-29.3,0-53-23.7-53-53v0c0-29.3,23.7-53,53-53h280" />
                            <path class="border"
                                d="M335.5,108.5h280c29.3,0,53-23.7,53-53v0c0-29.3,23.7-53-53-53h-280" />
                        </svg>
                    </div>
                </div>

                <div class="col-md-3 text-center">
                    <% if (user) { %>
                        <a href="/menu" class="button">Menu</a>
                        <% } else { %>
                            <a href="/signup" class="button" id="sign-up">Sign Up</a>
                            <a href="/login" class="button" id="log-in">Log In</a>
                            <% } %>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container-fluid py-5">
            <% if (user) { %>
                <div class="row align-items-center py-5">
                    <h2 class="text-white">Welcome, <%= user.username %>!
                    </h2>
                </div>

                <div class="time-container" id="timeSinceContainer">
                    <div id="timeSince"></div> <!-- Этот блок будет содержать отсчет времени -->
                </div>
                <% } %>
                    <div class="row align-items-center py-5">
                        <h1>Quote of the Day</h1>
                    </div>
        </div>
    </section>

    <!-- Footer and Scripts -->
    <%- include('components/footer.ejs') %>
        <%- include('scripts/search.ejs') %>
            <%- include('scripts/rel_time.ejs') %>
</body>

</html>